---
layout: default
---

<div class="row align-items-center">
    <div class="position-relative">
        <img src="{{ '/assets/images/background.jpg' | relative_url }}" alt="Your career journey is an open road" class="img-fluid large-image">
        <div class="position-absolute top-50 start-50 translate-middle text-center">
            <h2 class="text-white">“The journey of a thousand miles begins with one step.”</h2>
            <h4 class="text-white">- Lao Tzu</h4>
        </div>
    </div>
</div>
<div class="row align-items-center">
        {{ content }}
</div>
<div class="row mt-5 pt-5 text-center">
    <a href="{{ '/contact' | relative_url }}" target="_blank" class="btn btn-primary">Connect with me to get started!</a>
</div>